HR_Service/SOA/WSDLs/DepDaoPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<definitions
     name="DepDaoService"
     targetNamespace="http://dao.com/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://dao.com/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://dao.com/" schemaLocation="../Schemas/DepDaoPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="getAllDepartments">
        <part name="parameters" element="tns:getAllDepartments"/>
    </message>
    <message name="getAllDepartmentsResponse">
        <part name="parameters" element="tns:getAllDepartmentsResponse"/>
    </message>
    <message name="getDepartmentByID">
        <part name="parameters" element="tns:getDepartmentByID"/>
    </message>
    <message name="getDepartmentByIDResponse">
        <part name="parameters" element="tns:getDepartmentByIDResponse"/>
    </message>
    <message name="insertDepartment">
        <part name="parameters" element="tns:insertDepartment"/>
    </message>
    <message name="insertDepartmentResponse">
        <part name="parameters" element="tns:insertDepartmentResponse"/>
    </message>
    <message name="deleteDepartment">
        <part name="parameters" element="tns:deleteDepartment"/>
    </message>
    <message name="deleteDepartmentResponse">
        <part name="parameters" element="tns:deleteDepartmentResponse"/>
    </message>
    <message name="updateDepartment">
        <part name="parameters" element="tns:updateDepartment"/>
    </message>
    <message name="updateDepartmentResponse">
        <part name="parameters" element="tns:updateDepartmentResponse"/>
    </message>
    <portType name="DepDao">
        <operation name="getAllDepartments">
            <input message="tns:getAllDepartments" wsam:Action="http://dao.com/DepDao/getAllDepartmentsRequest"/>
            <output message="tns:getAllDepartmentsResponse" wsam:Action="http://dao.com/DepDao/getAllDepartmentsResponse"/>
        </operation>
        <operation name="getDepartmentByID">
            <input message="tns:getDepartmentByID" wsam:Action="http://dao.com/DepDao/getDepartmentByIDRequest"/>
            <output message="tns:getDepartmentByIDResponse" wsam:Action="http://dao.com/DepDao/getDepartmentByIDResponse"/>
        </operation>
        <operation name="insertDepartment">
            <input message="tns:insertDepartment" wsam:Action="http://dao.com/DepDao/insertDepartmentRequest"/>
            <output message="tns:insertDepartmentResponse" wsam:Action="http://dao.com/DepDao/insertDepartmentResponse"/>
        </operation>
        <operation name="deleteDepartment">
            <input message="tns:deleteDepartment" wsam:Action="http://dao.com/DepDao/deleteDepartmentRequest"/>
            <output message="tns:deleteDepartmentResponse" wsam:Action="http://dao.com/DepDao/deleteDepartmentResponse"/>
        </operation>
        <operation name="updateDepartment">
            <input message="tns:updateDepartment" wsam:Action="http://dao.com/DepDao/updateDepartmentRequest"/>
            <output message="tns:updateDepartmentResponse" wsam:Action="http://dao.com/DepDao/updateDepartmentResponse"/>
        </operation>
    </portType>
    <binding name="DepDaoPortBinding" type="tns:DepDao">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllDepartments">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDepartmentByID">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="DepDaoService">
        <port name="DepDaoPort" binding="tns:DepDaoPortBinding">
            <soap:address location="http://localhost:7101/JavaHRApp-Client-context-root/DepDaoPort"/>
        </port>
    </service>
</definitions>
