HR_Service/SOA/WSDLs/EmpDaoService.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<definitions
     name="EmpDaoService"
     targetNamespace="http://dao.com/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://dao.com/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://dao.com/" schemaLocation="../Schemas/EmpDaoService_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="getAllEmployeesByHireDate">
        <part name="parameters" element="tns:getAllEmployeesByHireDate"/>
    </message>
    <message name="getAllEmployeesByHireDateResponse">
        <part name="parameters" element="tns:getAllEmployeesByHireDateResponse"/>
    </message>
    <message name="getEmployeesBySalary">
        <part name="parameters" element="tns:getEmployeesBySalary"/>
    </message>
    <message name="getEmployeesBySalaryResponse">
        <part name="parameters" element="tns:getEmployeesBySalaryResponse"/>
    </message>
    <message name="getEmployeesInSpecificDepartment">
        <part name="parameters" element="tns:getEmployeesInSpecificDepartment"/>
    </message>
    <message name="getEmployeesInSpecificDepartmentResponse">
        <part name="parameters" element="tns:getEmployeesInSpecificDepartmentResponse"/>
    </message>
    <message name="getEmployeeById">
        <part name="parameters" element="tns:getEmployeeById"/>
    </message>
    <message name="getEmployeeByIdResponse">
        <part name="parameters" element="tns:getEmployeeByIdResponse"/>
    </message>
    <message name="updateEmplyee">
        <part name="parameters" element="tns:updateEmplyee"/>
    </message>
    <message name="addEmployee">
        <part name="parameters" element="tns:addEmployee"/>
    </message>
    <message name="getAllEmployees">
        <part name="parameters" element="tns:getAllEmployees"/>
    </message>
    <message name="getAllEmployeesResponse">
        <part name="parameters" element="tns:getAllEmployeesResponse"/>
    </message>
    <message name="deleteEmployee">
        <part name="parameters" element="tns:deleteEmployee"/>
    </message>
    <portType name="EmpDao">
        <operation name="getAllEmployeesByHireDate">
            <input message="tns:getAllEmployeesByHireDate" wsam:Action="http://dao.com/EmpDao/getAllEmployeesByHireDateRequest"/>
            <output message="tns:getAllEmployeesByHireDateResponse" wsam:Action="http://dao.com/EmpDao/getAllEmployeesByHireDateResponse"/>
        </operation>
        <operation name="getEmployeesBySalary">
            <input message="tns:getEmployeesBySalary" wsam:Action="http://dao.com/EmpDao/getEmployeesBySalaryRequest"/>
            <output message="tns:getEmployeesBySalaryResponse" wsam:Action="http://dao.com/EmpDao/getEmployeesBySalaryResponse"/>
        </operation>
        <operation name="getEmployeesInSpecificDepartment">
            <input message="tns:getEmployeesInSpecificDepartment" wsam:Action="http://dao.com/EmpDao/getEmployeesInSpecificDepartmentRequest"/>
            <output message="tns:getEmployeesInSpecificDepartmentResponse" wsam:Action="http://dao.com/EmpDao/getEmployeesInSpecificDepartmentResponse"/>
        </operation>
        <operation name="getEmployeeById">
            <input message="tns:getEmployeeById" wsam:Action="http://dao.com/EmpDao/getEmployeeByIdRequest"/>
            <output message="tns:getEmployeeByIdResponse" wsam:Action="http://dao.com/EmpDao/getEmployeeByIdResponse"/>
        </operation>
        <operation name="updateEmplyee">
            <input message="tns:updateEmplyee" wsam:Action="http://dao.com/EmpDao/updateEmplyee"/>
        </operation>
        <operation name="addEmployee">
            <input message="tns:addEmployee" wsam:Action="http://dao.com/EmpDao/addEmployee"/>
        </operation>
        <operation name="getAllEmployees">
            <input message="tns:getAllEmployees" wsam:Action="http://dao.com/EmpDao/getAllEmployeesRequest"/>
            <output message="tns:getAllEmployeesResponse" wsam:Action="http://dao.com/EmpDao/getAllEmployeesResponse"/>
        </operation>
        <operation name="deleteEmployee">
            <input message="tns:deleteEmployee" wsam:Action="http://dao.com/EmpDao/deleteEmployee"/>
        </operation>
    </portType>
    <binding name="EmpDaoPortBinding" type="tns:EmpDao">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllEmployeesByHireDate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEmployeesBySalary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEmployeesInSpecificDepartment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEmployeeById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateEmplyee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="addEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="getAllEmployees">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="EmpDaoService">
        <port name="EmpDaoPort" binding="tns:EmpDaoPortBinding">
            <soap:address location="http://localhost:7101/JavaHRApp-Client-context-root/EmpDaoService"/>
        </port>
    </service>
</definitions>
